pip install Flask_WTF
pip install pandas
pip install six
pip install tensorflow
pip install WTForms_Components
pip install stripe
pip install deepface
pip install Werkzeug
pip install opencv_contrib_python
pip install WTForms
pip install Flask_MySQLdb
pip install Flask
pip install Flask_Mail
pip install matplotli
pip install Flask_Cors
pip install numpy
pip install wget
pip install python_docx
pip install nltk
pip install coolname
pip install object_detection
pip install Pillow